*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav {
  height: 80px;
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  border-bottom: 2px solid #00809d;
  padding: 10px 0;
  /* background-color: #fff; */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.wrapper {
  width: 1350px;
  margin: auto;
  position: relative;
  top: 27px;
}

.logo {
  float: left;
}

.logo a {
  text-decoration: none;
  font-family: "nunito";
  font-size: 30px;
  font-weight: bold;
  color: #00809d;
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  float: left;
  padding: 0 16px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

.menu ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #ff7601;
}

.menu a.tbl-biru {
  background-color: #00809d;
  padding: 16px 24px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
}

.menu a.tbl-biru:hover {
  background-color: #ff7601;
}

.menu {
  float: right;
}

.container {
  width: 1350px;
  margin: auto;
}

section {
  margin: auto;
  margin-bottom: 30px;
  display: flex;
}

section img {
  width: 800px;
}

section .deskripsi {
  margin-top: 280px;
  text-align: left;
}

section .hastag {
  font-size: 20px;
  font-family: "nunito";
  font-weight: bold;
  color: #00809d;
  margin-top: 0;
}

section h2 {
  font-size: 40px;
  color: #ff7601;
  margin-bottom: 15px;
}

#courses {
  gap: 80px;
}

#courses .deskripsi {
  margin-top: 200px;
}

#courses .avatar img {
  transform: scaleX(-1);
  width: 600px;
}
